<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebrainz.campuschat">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".slidingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="Dashboard"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnlineTestUnilorin"
            android:label="Unilorin Online Test"
            android:theme="@style/AppTheme">

            <!-- android:parentActivityName=".Bg_U_OnlineTest" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnlineTestEdePoly"
            android:label="Ede Poly Online Test"
            android:theme="@style/AppTheme">

            <!-- android:parentActivityName=".Bg_U_OnlineTest" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bg_OnlineTest"
            android:label="Online Test - Choose School"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bg_U_OnlineTest"
            android:label="Choose University"
            android:parentActivityName=".Bg_OnlineTest"
            android:theme="@style/AppTheme.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bg_P_OnlineTest"
            android:label="Choose Polytechnic"
            android:parentActivityName=".Bg_OnlineTest"
            android:theme="@style/AppTheme.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".ChatMainActivity"
            android:label="@string/title_activity_chat_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatContactsActivity"
            android:label="Contacts"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".OnlineTestUnilorinQ1"
            android:configChanges="orientation"
            android:label="Question 1"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnlineTestEdePolyQ1"
            android:configChanges="orientation"
            android:label="Question 1"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".ChatSingleMessageActivity"
            android:configChanges="orientation"
            android:label="Johndoe"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".Bg_TourSchool"
            android:label="Choose School"
            android:theme="@style/AppTheme.Tour" />
        <activity
            android:name=".TourSchool_Unilorin"
            android:theme="@style/AppTheme.TourSchool" />
        <activity
            android:name=".ChatMainActivity"
            android:label=""
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainAccountActivity" />
        <activity android:name=".MainAccountEditActivity" />
        <activity
            android:name=".GroupChatActivity"
            android:parentActivityName=".ChatMainActivity" />
        <activity android:name=".PhoneLoginActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".FindFriendsActivity"
            android:parentActivityName=".ChatMainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ChatActivity"
            android:parentActivityName=".ChatMainActivity"></activity>
    </application>

</manifest>